/* line 1, ../../styles/_reset.scss */
h1, h2, h3, h4, div, p, ul, ol, li, blockquote, section, header, footer, article, body, html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 7, ../../styles/_reset.scss */
ul, ol {
  list-style-type: none;
}

/* line 11, ../../styles/_reset.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 10, ../../bower_components/paws/sass/_paws.scss */
.box, .postlist, .post, .header, .article, .nav .nav-panel {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

/* Mixins for span sizes */
/* line 30, ../../bower_components/paws/sass/_paws.scss */
.box:after, .postlist:after, .post:after, .header:after, .article:after, .nav .nav-panel:after, .box-full:after {
  content: "";
  display: table;
  clear: both;
}

/* line 42, ../../bower_components/paws/sass/_paws.scss */
.box-full {
  width: 100%;
}

/* Actual classes, if needed */
/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-1 {
  float: left;
  width: 5.33333%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-2 {
  float: left;
  width: 13.66667%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-3 {
  float: left;
  width: 22%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-4 {
  float: left;
  width: 30.33333%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-5 {
  float: left;
  width: 38.66667%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-6 {
  float: left;
  width: 47%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-7 {
  float: left;
  width: 55.33333%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-8 {
  float: left;
  width: 63.66667%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-9 {
  float: left;
  width: 72%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-10 {
  float: left;
  width: 80.33333%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-11 {
  float: left;
  width: 88.66667%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 50, ../../bower_components/paws/sass/_paws.scss */
.span-12 {
  float: left;
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/* line 54, ../../bower_components/paws/sass/_paws.scss */
.span-full {
  float: left;
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

/*
 *
 * type.scss
 *
 * A SCSS boilerplate for microtypography.
 *
 * Tim von Oldenburg <tim@tvooo.de>
 *
 */
/* --- MIXINS --- */
/*
    Hyphenation
    http://caniuse.com/#feat=css-hyphens
*/
/*
    OpenType Features
    http://caniuse.com/#feat=font-feature
*/
/* --- PLACEHOLDER SELECTORS --- */
/* line 108, ../../bower_components/type.scss/type.scss */
.article .article-content code, .article .article-content pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
}

/* --- CLASS SELECTOR GENERATOR -- */
/* line 15, ../../styles/_typography.scss */
html {
  font-size: 24px;
}

/* line 19, ../../styles/_typography.scss */
body {
  font-size: 100%;
  color: #222222;
  font-family: "ff-tisa-web-pro", Georgia, serif;
}

/* HEADINGS */
/* line 33, ../../styles/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.1em;
}

/* line 33, ../../styles/_typography.scss */
h2 {
  font-size: 1.6em;
  line-height: 1.4em;
}

/* line 33, ../../styles/_typography.scss */
h3 {
  font-size: 1.4em;
  line-height: 1.61em;
}

/* line 33, ../../styles/_typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.61em;
}

/* TABLES */
/* line 41, ../../styles/_typography.scss */
table {
  -webkit-font-feature-settings: "lnum" 1, "tnum" 1;
  -moz-font-feature-settings: "lnum" 1, "tnum" 1;
  font-feature-settings: "lnum" 1, "tnum" 1;
}

/* line 45, ../../styles/_typography.scss */
strong {
  font-weight: 700;
}

/* line 49, ../../styles/_typography.scss */
em {
  font-style: italic;
}

/* QUOTES */
/* line 56, ../../styles/_typography.scss */
blockquote {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
/* line 102, ../../bower_components/type.scss/type.scss */
blockquote p:first-of-type:before, blockquote p:last-of-type:after {
  content: "";
  display: none;
}
/* line 64, ../../styles/_typography.scss */
blockquote p {
  margin-bottom: 0;
}

/* line 71, ../../styles/_typography.scss */
a {
  color: #8e2234;
  text-decoration: none;
}
/* line 74, ../../styles/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 79, ../../styles/_typography.scss */
.article .article-content {
  /* CODE */
}
/* line 80, ../../styles/_typography.scss */
.article .article-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
/* line 86, ../../styles/_typography.scss */
.article .article-content p, .article .article-content li {
  line-height: 1.5em;
}
/* line 90, ../../styles/_typography.scss */
.article .article-content p {
  margin-bottom: 1em;
}
/* line 94, ../../styles/_typography.scss */
.article .article-content li {
  margin-bottom: .6em;
}
/* line 98, ../../styles/_typography.scss */
.article .article-content h2, .article .article-content h3, .article .article-content h4, .article .article-content h5, .article .article-content h6 {
  margin-bottom: .5em;
}
/* line 102, ../../styles/_typography.scss */
.article .article-content ul, .article .article-content ol {
  padding-left: 0;
  list-style-position: outside;
}
/* line 107, ../../styles/_typography.scss */
.article .article-content ul {
  list-style-type: disc;
}
/* line 111, ../../styles/_typography.scss */
.article .article-content ol {
  list-style-type: number;
}
/* line 117, ../../styles/_typography.scss */
.article .article-content code {
  font-family: "courier-prime", "source-code-pro", monospace;
  display: inline-block;
}
/* line 123, ../../styles/_typography.scss */
.article .article-content pre {
  font-family: "courier-prime", "source-code-pro", monospace;
  display: block;
  padding: 2em;
  margin-bottom: 2em;
}
/* line 129, ../../styles/_typography.scss */
.article .article-content pre code {
  display: block;
}

@font-face {
  font-family: "Entypo";
  src: url(/assets/entypo/entypo.woff);
}

/* line 6, ../../styles/_entypo.scss */
i, [rb-icon] {
  font-family: "Entypo";
}

/* line 4, ../../styles/modules/_postlist.scss */
.postlist .postlist-order {
  float: left;
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: .5em;
}
/* line 9, ../../styles/modules/_postlist.scss */
.postlist .postlist-view {
  float: left;
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2em;
  font-size: 3em;
}
/* line 15, ../../styles/modules/_postlist.scss */
.postlist .postlist-view a:hover {
  text-decoration: none;
}

/* line 21, ../../styles/modules/_postlist.scss */
.post {
  margin-bottom: 2em;
}
/* line 25, ../../styles/modules/_postlist.scss */
.post .post-image {
  float: left;
  width: 13.66667%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  min-height: 1em;
}
/* line 31, ../../styles/modules/_postlist.scss */
.post .post-image img {
  width: 100%;
}
/* line 36, ../../styles/modules/_postlist.scss */
.post .post-text {
  float: left;
  width: 80.33333%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
/* line 40, ../../styles/modules/_postlist.scss */
.post .post-title {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.15em;
}
/* line 48, ../../styles/modules/_postlist.scss */
.post .post-meta {
  font-size: .8em;
  color: #999;
}
/* line 54, ../../styles/modules/_postlist.scss */
.is-disabled.post a {
  color: #aaaaaa;
}

/* line 1, ../../styles/modules/_header.scss */
.header {
  padding: 2em 0;
}
/* line 6, ../../styles/modules/_header.scss */
.header .header-title {
  float: left;
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-size: 2em;
  font-weight: 400;
}

/* line 1, ../../styles/modules/_article.scss */
.article {
  padding-top: 8em;
  padding-bottom: 8em;
}
/* line 6, ../../styles/modules/_article.scss */
.article .article-title {
  margin-bottom: 2em;
}

/* line 1, ../../styles/modules/_nav.scss */
.nav {
  position: fixed;
  background-color: #ddd;
  left: 0;
  right: 0;
  top: 0;
}
/* line 8, ../../styles/modules/_nav.scss */
.nav .nav-panel {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 12, ../../styles/modules/_nav.scss */
.nav .nav-panel .nav-panel-content {
  float: left;
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
/* line 16, ../../styles/modules/_nav.scss */
.nav .nav-panel a {
  text-decoration: none;
}

/* line 24, ../../styles/main.scss */
body {
  background: #fff;
  position: relative;
}

/* line 30, ../../styles/main.scss */
.is-not-scrollable {
  overflow: hidden;
}
