%piece {
    @include span(4);
    display: block;
    //height: 30em;
    padding: 1em;

    position: relative;

    //background: #333;
    img {
        width: 100%;
    }

    .piece-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include transition( all .3s ease-in-out );
        display: block;
        /*height: 100%;
        width: 100%;*/
        @include background(
            url(http://lorempixel.com/400/200/abstract/)
        );
        //background: #ccc;
        @include background-size( cover );
        //opacity: .4;

        -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    }

    .piece-title {
        @include transition( opacity .3s ease-in-out );
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -.5em;
        text-align: center;
        color: black;
        text-decoration: none;
        font-weight: 400;

        font-size: 2em;
    }

    &:hover {
        .piece-image {
            //opacity: 1;
            //-webkit-transform: scale(.95, .95);
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
        .piece-title {
            opacity: 0;
        }
    }

    &.dev {
        font-family: $ff-mono;
    }
}

.piece {
    @extend %piece;
}
