%postlist {
    @extend %box;

    .postlist-order {
        @include span(12);
        margin-bottom: .5em;
    }

    .postlist-view {
        @include span(12);
        //text-align: right;
        margin-bottom: 2em;
        font-size: 3em;

        a:hover {
            text-decoration: none;
        }
    }
}

%post {
    @extend %box;
        margin-bottom: 2em;

        .post-image {
            @include span(2);

            //padding: .5em;
            min-height: 1em;

            img {
                width: 100%;
            }
        }

        .post-text {
            @include span(10);
        }

        .post-title {
            //@include span(12);
            font-size: 1.2em;
            font-weight: 400;
            line-height: 1.15em;

        }

        .post-meta {
            font-size: .8em;
            color: #999;
        }

        &.is-disabled {
            a {
                color: $color-link-disabled;
            }
        }
}

.post {
    @extend %post;
}

.postlist {
    @extend %postlist;
}
