@import "compass/css3";

@import "reset";
@import "colors";


$max-width: 1000px;
$columns: 12;
$gutter: 3%;
@import "../bower_components/paws/sass/paws";
@include paws-generate;
@import "../bower_components/type.scss/type";


@import "typography";
@import "entypo";

// Modules
@import "modules/postlist";
@import "modules/header";
@import "modules/article";
@import "modules/nav";

body {
    background: #fff;
    position: relative;
}


.is-not-scrollable {
    overflow: hidden;
}
